* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  width: 100vh;
  text-align: center;
  color: white;
  overflow: hidden;
}

h1 {
  margin-top: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  color: aquamarine;
}

.controls p {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  margin-top: 0px;
}

footer a {
  text-decoration: none;
  color: white;
}

span {
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#container {
  display: grid;
  height: 70%;
  width: 70%;
  background-color: black;
  border: 2px solid rgba(256, 256, 256, 0.4);
  margin: 40px auto;
  box-shadow: 4px 4px brown;
  margin-bottom: 20px;
  margin-top: 40px;
}

.grid-box {
  border: none;
}

button {
  padding: 5px 10px;
}

button a {
  text-decoration: none;
  color: black;
}

.controls {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
