* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: green;
  height: 100vh;
  width: 100vh;
}

#container {
  display: grid;
  height: 70%;
  width: 70%;
  background-color: white;
  border: 2px solid black;
  margin: 40px auto;
}

.grid-box {
  border: 1px solid gray;
}

#container > .grid-box::after {
  background-color: aquamarine;
}
